/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/



/* Navbar */

img.logo {
    width:150px;
    margin-left:20px;
}

nav {
    height: 80px;
    display:flex;
    justify-content: space-between;
    background:#FFFFFF;
}

.hamburger-icon {
    width:30px;
    height: 30px;
    margin-right:20px;
    margin-top:18px;
}

.menu {
    display:none;
    font-family:CircularPro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* Header */

header img {
    width:100%;
}

@media (min-width:1000px) {

    img.logo {
        
    }

    .hamburger-icon {
        display:none;
    }

    nav {
        display:flex;
        align-items: center;
    }
    
    .menu {
        display: block;
        margin-right:20px;
    }
    
    ul li{
        display:inline;
    }
}