/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    font-family:CircularPro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

}

/* Navbar */

img.logo {
    width:150px;
    margin-left:20px;
}

nav {
    height: 80px;
    display:flex;
    justify-content: space-between;
    background:#FFFFFF;
}

.hamburger-icon {
    width:30px;
    height: 30px;
    margin-right:20px;
    margin-top:18px;
}

.menu {
    display:none;
    font-family:CircularPro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* Buttons */

.btn-invert {
    background:#FFF;
    font-size:20px;
    padding:20px;
    margin-top:20px;
    width:70%;
    color:#192592;
    border-radius:5px;
    border:solid 1px #192592;
}

.btn {
    color:#FFF;
    font-size:20px;
    padding:20px;
    margin-top:20px;
    width:70%;
    border:none;
    background-color:#192592;
    border-radius:5px;
}

/* Header */

.flex-parent {
    display: flex;
    flex-direction: column;
}

.flex-parent h1 {
    justify-content: center;
}

header h1 {
    padding:5px 25px;
}

header p {
    padding:0 25px;
}

header img {
    width:100%;
}

input {
    padding:20px;
    width:65%;
    text-align: left;
    border:1px solid #cccccc;
    font-size:20px;
}

.flex-parent {
    display:flex;
}

.flex-child {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:40px;

}

/* Main */

main img {
    margin:25px 25px;
    width:300px;
}

main p {
    padding: 0 25px;
}

.grey {
    background-color:#F4F3F4;
}

/* Footer */

footer ul {
    list-style: none;
}

.flex-child-footer {

}

.full-width {
    width:100%;
}

.menu-bottom {
    display:flex;
    flex-wrap: wrap;
    padding:40px;
}

.bottom-menu-item {
    width:35%;
}

.bottom {
    display:flex;
    flex-direction: column;
    background-color:#F4F3F4;
    padding:40px;
}

.full-width ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

.full-width li {
    margin:10px;
}

.full-width img {
    display: flex;


}


@media (min-width:961px) {

    .hamburger-icon {
        display:none;
    }

    nav {
        display:flex;
        align-items: center;
    }
    
    .menu {
        display:flex;
        margin-right:20px;
        list-style:none;
    }

    .menu li {
        padding-right:10px;
    }

    .bottom-menu-item {
        width:20%;
    }
    
}