<div class="wrapper">
    <div id="search-box">
     <form action="/artists" method="GET">
        <label for="artist-name">Search for Artist</label>
         <input type="text" name="artist" id="artist-name" placeholder="search for your artist here">
         <button type="submit">Search for an Artist</button>
     </form>
    </div>
 </div>