<form action="/books/add" method="post">
    <label for="">Author:</label>
    <input type="text" name="author">

    <label for="">Country:</label>
    <input type="text" name="country">

    <label for="">Imagelink:</label>
    <input type="text" name="imageLink">

    <label for="">Language:</label>
    <input type="text" name="language">

    <label for="">Link:</label>
    <input type="text" name="link">

    <label for="">Pages:</label>
    <input type="number" name="pages">

    <label for="">Title:</label>
    <input type="text" name="title">

    <label for="">Year:</label>
    <input type="number" name="year">

    <button type="submit">ADD</button>
</form>