<form action="create-restaurant" method="GET">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="cuisine" placeholder="cuisine">
    <input type="text" name="borough" placeholder="borough">
    <button type="submit">Open restaurant!</button>
</form>