<h1>SIGN-UP</h1>

<form action="/signup" method="POST">
    First name:<br>
    <input class="form-input" type="text" name="name"><br>
    Last name:<br>
    <input class="form-input" type="text" name="lastname"><br>
    Email:<br>
    <input class="form-input" type="email" name="email"><br>
    Password:<br>
    <input class="form-input" type="password" name="password"><br>
    <div class="center-align"><button type="submit">Submit</button></div>
</form>