<div class="content">
    <div>
        <img src="images/beer.png" alt="" srcset="">
    </div>
    <div class="buttons">
        <button>Check the Beers</button>
        <button>Check a Random Beer</button>
    </div>
</div>